.pc-teacherNew
    .header
        ng-include(src="'/pages/common/header/header.html'")
    .contrain
        .bg-img(style="background:url({{(teacher.bgUrl)?teacher.bgUrl:person_bg}});background-size: cover;")
            .u-cover
        .c-main
            .main-left
                .m-block.l-info
                    img.p-img(ng-src='{{teacher.iconUrl}}')
                    p.p-name {{teacher.name}}
                    p.p-record {{teacher.simpleinfo}}
                    p.p-address {{teacher.address}}
                    .u-theme
                        img(ng-repeat="resource in resources" ng-src="{{resource.flag?resource.srcPC:resource.srcPCNo}}", ng-class="{'lastthme': $last}")
                    label.p-like(ng-click="likeOrDisTeacher();" ng-class="{'p-like-active':!isLikeTeacher}")
                    label.p-xj.p-numebr
                        p 人气
                        label {{teacher.likeNo}}
                    label.p-jg.p-numebr
                        p 成交
                        label {{teacher.finishNo}}
                .m-block.l-score
                    ul
                        li
                            p 好评率
                            label(ng-show="teacher.praiseRatio >= 0.3") {{teacher.praiseRatio * 100 | number:2}}%
                            label(ng-show="teacher.praiseRatio < 0.3") 暂无数据
                        li
                            p 响应率
                            label(ng-show="teacher.answerRatio >= 0.3") {{teacher.answerRatio * 100 | number:2}}%
                            label(ng-show="teacher.answerRatio < 0.3") 暂无数据
                        li.last-li
                            p 响应时间
                            label(ng-show="teacher.answerTime != 0") {{teacher.answerTime / 3600 | number:2}}小时
                            label(ng-show="teacher.answerTime ==0") 暂无数据
                p.l-title 经历
                .m-block.l-exprience
                    .e-block(ng-repeat='studyEx in teacher.studyExperience')
                        p.e-b-name {{studyEx.schoolName}}
                        p.e-b-info {{studyEx.major + &quot;&nbsp;&nbsp;&quot; + studyEx.degree}}
                        p.e-b-time {{studyEx.startTime | dateFormatTime}} - {{studyEx.endTime | dateFormatTime}}
                    .e-block(ng-repeat='workEx in teacher.workExperience')
                        p.e-b-name {{workEx.companyName}}
                        p.e-b-info {{workEx.position}}
                        p.e-b-time {{workEx.startTime | dateFormatTime}} - {{workEx.endTime | dateFormatTime}}
                    .e-authenty
                        ul
                            li.li-fl-authenty(ng-repeat="authentic in authentics")
                                img(ng-src="{{authentic.url}}")
                                p(ng-bind="!authentic.isAuthentic?'未'+authentic.nameSimple:authentic.nameSimple")
                p.l-title 相关导师
                div(ng-controller="AboutTeacherController")
                    a.m-block.l-about-t(ng-repeat='teacher in teachers' ng-href="/teacher/{{teacher.teacherId}}"
                    title="{{teacher.name}} - {{teacher.simpleInfo}}" ng-click="lookTeacher(teacher.teacherId)")
                        img.a-t-img(ng-src='{{teacher.url}}')
                        label.a-t-name {{teacher.name}}
                        //p.a-t-title {{teacher.topic}}
                        p.a-t-info {{teacher.simpleInfo}}
                        img(src="http://image.1yingli.cn/img/heart.png").a-t-like-img
                        label.a-t-number(ng-show="!teacher.finishNo || teacher.finishNo<1")
                            span {{teacher.likenumber}}
                            | 人想见
                        label.a-t-number(ng-show="teacher.finishNo && teacher.finishNo>=1")
                            span {{teacher.finishNo}}
                            | 人见过
            .main-right
                .m-block.r-about-ta.r-talk
                    .m-c.m-c-talk
                        .u-xl1(ng-show="teacher.topic.length == 0")
                            label.xl-title1
                                img(src="http://image.1yingli.cn/img/new/tinychat.png")
                                span 微聊
                                | 以便您更了解和信任导师
                            label.xl-score1(ng-show="teacher.score >= 5")
                                span 导师得分 {{teacher.score | number:2}}
                                | 分
                            label.xl-score1(ng-show="teacher.score < 5")
                                | 导师评分
                                | 暂无
                            label.xl-price
                                span 价格&nbsp;
                                | ¥
                                span {{teacher.price}}
                                | /10分钟
                            .xl-btN(ng-click="makeAppoint();" ng-mouseover="mouseShow()" ng-mouseleave="mouseHide()") 立即约聊
                                img.xl-img(src="http://image.1yingli.cn/img/new/finger.png")
                        .u-xl2(ng-show="teacher.topic.length != 0")
                            label.xl-title2
                                img(src="http://image.1yingli.cn/img/new/tinychat.png")
                                span 微聊
                                | 以便您更了解和信任导师
                            label.xl-score2(ng-show="teacher.score >= 5")
                                span 导师得分 {{teacher.score | number:2}}
                                | 分
                            label.xl-score2(ng-show="teacher.score < 5")
                                | 导师评分
                                | 暂无
                            label.xl-price
                                span 价格&nbsp;
                                | ¥
                                span {{teacher.price}}
                                | /10分钟
                            .u-hr
                            .xl-topic
                                span 导师有话要说：
                                | {{teacher.topic}}
                            .xl-bt(ng-click="makeAppoint();" ng-mouseover="mouseShow()" ng-mouseleave="mouseHide()") 立即约聊
                                img.xl-img(src="http://image.1yingli.cn/img/new/finger.png")
                .m-block.r-about-ta
                    .m-top
                        label.m-t-title 关于TA
                        label.m-yls
                            span {{teacher.mile}}
                            | 英里
                        img.yls-img(ng-mouseover="mailIsNo = true" ng-mouseleave="mailIsNo = false" ng-src="{{!mailIsNo?'http://image.1yingli.cn/img/new/yls.png':'http://image.1yingli.cn/img/new/yls_1.png'}}")
                        .u-mail-explain(ng-show="mailIsNo == true")
                            label.m-triangle
                            label.m-block-ccontent
                                | 根据导师在平台上所完成的订单数量、咨询时长等参数、计算出的导师个人“累积英里数”，英里数值可兑换同等里程的机票。
                    .m-c
                        .bootStrap.u-content(ng-bind-html="teacher.introduce | to_trusted" ng-class="{'u-content-all':showAll}")
                        .u-content-cover(ng-class="{'u-content-cover-none' : showAll}")
                    .m-fx
                        label.fx-title 分享
                        a.m-wbshare#wbshare(target="_blank")
                            img.u-weibo(ng-src="{{isWB?'http://image.1yingli.cn/img/new/weibo-pc1.png':'http://image.1yingli.cn/img/new/weibo-pc.png'}}" ng-mouseenter="isWB = true;" ng-mouseleave="isWB = false;")
                        img.u-weixin(ng-src="{{isWX?'http://image.1yingli.cn/img/new/weixin-pc1.png':'http://image.1yingli.cn/img/new/weixin-pc.png'}}"
                        ng-mouseenter="isWX = true;showQRCode=true; makeQrCode();"
                        ng-mouseleave="isWX=false;showQRCode=false;")
                        .li-share-qrCode#qrcode(ng-show="showQRCode")
                        img.u-showArrow(ng-show="!showArrow" src="{{showAll?'http://image.1yingli.cn/img/new/arrow-up.png':'http://image.1yingli.cn/img/new/arrow-down.png'}}" ng-click="showAll = !showAll")
                    .m-ds(ng-show="teacher.onReward != 'false'")
                        label.ds-bt(ng-click="isRaward = !isRaward") 赏
                        label.ds-num 已有{{teacher.rewardNumber}}人打赏
                        .m-block(ng-show="isRaward")
                            span 金额：
                            input(ng-model="money" type="text" ng-change="isValidate = false"
                            ng-class="{'errorMessage': isValidate}")
                            .u-button(ng-click="submitForm();") 确定
                            span.u-yuan 元
                .m-block.r-services(ng-controller="TeacherServiceController")
                    .m-top.m-t-topic
                        label.m-t-title TA的服务
                    .m-t-No(ng-if="data.data.length == 0") 暂无服务
                    .m-t-block(ng-repeat="service in data.data")
                        a(ng-href="/service/{{service.serviceProId}}" target="_blank")
                            img(src="{{service.imageUrls.split(',')[0]}}")
                            label {{serviceService.kindTips[service.kind].text}}
                            label {{service.title}}
                            label
                                span(ng-show="service.score>=5") {{service.score}}
                                    span.u-block-span 分
                                span.u-vlock-label(ng-show="service.score<5") 暂无评分
                            label
                                | ¥
                                span {{service.onsale=='true'?service.priceTemp:service.price}}
                                | /{{service.numeral}}{{service.quantifier}}
                            label {{service.summary}}
                            label
                                span {{service.finishNo}}
                                | 人见过
                    ng-include(src="'/pages/common/pager/pager.html'")
                .m-block.r-pj-wz
                    .m-top.m-t-topic
                        label.m-t-title 导师文章
                    div(ng-controller="TeacherArticleController")
                        div
                            div(ng-repeat="article in articles" )
                                a.m-r-wz-block(ng-href="/passage/{{article.passageId}}")
                                    img.u-img(src="{{article.imageUrl}}")
                                    label.u-title {{article.title}}
                                    label.u-time {{article.createTime | date:"yyyy-MM-dd h:mm"}}
                                    label.u-con {{article.summary}}
                                p.u-p-hr
                            ng-include(src="'/pages/common/pager/pager.html'")
                            .m-t-No(ng-if="articles.length == 0") 暂无文章
                .m-block.r-pj-wz(ng-controller="TeacherCommitController")
                    .m-top.m-t-topic
                        label.m-t-title(ng-show="data.count != 0") 学员评价 （{{data.count}}）
                        label.m-t-title(ng-show="data.count == 0") 学员评价
                    .m-t-No(ng-if="comments.length == 0") 暂无评价
                    div
                        .m-r-pj-block(ng-repeat='comment in comments')
                            img.u-img(ng-src="{{comment.iconUrl?comment.iconUrl:person_img}}")
                            label.u-name(ng-bind="comment.nickName")
                            img.u-star(ng-src="http://image.1yingli.cn/img/star-y.png", ng-repeat="sc in comment.score track by $index")
                            label.u-time(ng-bind="comment.createTime")
                            label.u-title {{comment.serviceTitle}}
                            label.u-con(ng-bind="comment.content")
                        ng-include(src="'/pages/common/pager/pager.html'")
    .g-mask(ng-show="showPayStyle || showWxPay" ng-click="hide()")
    .g-choosePay(ng-show="showPayStyle")
        .m-title 确认付款，请选择您支付的方式
            .m-form(ng-init="payMethod=1")
                .m-choose(ng-click="payMethod = '1'")
                    input.u-input(type="radio" ng-model="payMethod" value='1')
                    img.u-pay-img(src="http://image.1yingli.cn/img/pay_01.png")
                .m-choose(ng-click="payMethod = '3'")
                    input.u-input(type="radio" ng-model="payMethod" value='3')
                    img.u-pay-img(src="http://image.1yingli.cn/img/pay_03.jpg")
            .m-confirm
                form.u-form(name='myForm' id="myForm" action='{{payUrl[3] | trustUrl}}', method='post', accept-charset="utf-8")
                    input(name="money" type='hidden' ng-value="money")
                    input(size='30', name='uid', value='{{sessionService.user.uid}}', type='hidden')
                    input(size='30', name='teacherName', type='hidden', value='{{nameEncode(teacher.name)}}')
                    input(size='30', name='callback', type='hidden', value="{{urlCallback}}")
                    input(size='30', name='teacherId', type='hidden', value='{{teacher.teacherId}}')
                    input.u-button(type='submit' value="确定" ng-show="payMethod!=3")
                .u-button(ng-click="wxPay()" ng-show="payMethod==3") 确定
                .u-button(ng-click="hide()") 取消
    .g-wxPay(ng-show="showWxPay")
        .m-title 请扫码二维码支付
            #wxcode.u-qrcode
            .u-button(ng-click="refresh()") 完成支付
    ng-include(src="'/pages/common/layerOrderInfo/orderinfo.html'")
    ng-include(src="'/pages/common/footer/footer.html'")