.pc-protocol
    ng-include(src="'/pages/common/header/header.html'")
    .g-main
        .g-content
            p.p-t
                label
                span 用户协议
                p
                    | 杭州千询科技有限公司在此特别提醒您（用户）在注册成为用户之前，请认真阅读《一英里用户协议》（以下简称“本协议”），确保您充分理解本协议中各条款。请您审慎阅读并选择接受或不接受本协议。除非您接受本协议所有条款，否则您无权注册、登录或使用本协议所涉服务。您的注册、登录、使用等行为将视为对本协议的接受，并同意接受本协议各项条款的约束。
                p
                    | 本协议约定“一英里”与用户之间、导师与用户之间关于经验交谈服务的权利义务。本协议可由“一英里”随时更新，更新后的协议条款一旦公布即代替原来的协议条款，恕不再另行通知，用户可在本网站查阅最新版协议条款。在“一英里”修改协议条款后，如果用户不接受修改后的条款，请立即停止使用“一英里”提供的服务，用户继续使用“一英里”提供的服务将被视为接受修改后的协议。
                p
                    span
                        | 一.
                        span      
                    | 相关定义：
                p
                    span 1
                    | 、一英里：指一英里付费制一对一经验分享平台，隶属于杭州千询科技有限公司。一英里包括基于互联网的网站（域名：
                    span www.1yingli.cn
                    | ）及基于移动网的相关应用、服务等。
                p
                    span 2
                    | 、服务： 指服务提供者通过一英里提供技能或服务信息，用户通过一英里购买，并获取服务的商业活动，包含服务的价格、介绍、使用说明等。
                p
                    span 3
                    | 、导师：指通过一英里发布自身技能或服务信息作为服务提供者的自然人。
                p
                    span 4
                    | 、用户： 指完成一英里注册程序，获得可以登陆一英里系统权限的正式注册会员。
                p
                    span
                        | 二.
                        span      
                    | 用户资格及注册
                p
                    span 1
                    | 、用户应当为具有完全民事行为能力的自然人，或者是具有独立承担法律责任能力的其他合法主体。若用户属于无民事行为能力、限制民事行为能力人的，或是不具有独立承担法律责任能力的其他主体的，应在监护人监护下进行交易或是得到有权主体授权后进行交易。
                p
                    span 2
                    | 、用户使用一英里网络提供的网络平台服务，必须：
                p
                    span (1)
                    | 自行配备上网的所需设备，包括个人电脑、调制解调器或其他必备上网装置；
                p
                    span (2)
                    | 自行负担个人上网所支付的与此服务有关的电话费用、网络费用。
                p 用户在使用一英里服务前，应检查其软硬件设备，保证其处于安全使用状态。
                p
                    span 3
                    | 、用户点击“同意以下协议并注册”按钮，将视为用户同意本协议的所有条款，且具有浏览一英里平台相关信息、提交订单、发表评价等使用一英里服务的相应权利能力和行为能力，并可以对自己的行为承担法律责任。
                p
                    span 4
                    | 、用户注册成功后，应妥善保管其一英里平台帐户及密码，应定期或不定期修改密码，以保证帐户安全。用户不得将一英里平台帐户出借、转让或用作其他非法用途，否则因帐户未妥善保管而造成损失的，用户应承担相应法律责任，除非有证据证明该行为与用户无关。若用户因一英里平台帐户被盗或因其他非用户原因造成损失的，用户应立即通知一英里并向公安机关报案。
                p
                    span
                        | 三.
                        span      
                    | 用户信息
                p
                    span 1
                    | 、用户在注册帐号或使用本服务的过程中，可能需要填写或提交一些必要的信息，如法律法规、规章规范性文件（以下称“法律法规”）规定的需要填写的身份信息。如用户提交的信息不完整或不符合法律法规的规定，则用户可能无法使用本服务或在使用本服务的过程中受到限制。
                p
                    span 2
                    | 、个人隐私信息是指涉及用户个人身份或个人隐私的信息，比如，用户真实姓名、身份证号、手机号码、手机设备识别码、
                    span IP
                    | 地址、用户聊天记录。非个人隐私信息是指用户对本服务的操作状态以及使用习惯等明确且客观反映在
                    span ”
                    | 一英里
                    span ”
                    | 服务器端的基本记录信息、个人隐私信息范围外的其它普通信息，以及用户同意公开的上述隐私信息。
                p
                    span 3
                    | 、
                    span ”
                    | 一英里
                    span ”
                    | 将采取技术措施和其他必要措施，确保用户个人隐私信息安全，防止在本服务中收集的用户个人隐私信息泄露、毁损或丢失。在发生前述情形或者
                    span ”
                    | 一英里
                    span ”
                    | 发现存在发生前述情形的可能时，将及时采取补救措施。
                p
                    span 4
                    | 、
                    span ”
                    | 一英里
                    span ”
                    | 未经用户同意不向任何第三方公开、透露用户个人隐私信息。但以下特定情形除外：
                p
                    span (1) “
                    | 一英里
                    span ”
                    | 根据法律法规规定或有权机关的指示提供用户的个人隐私信息；
                p
                    span (2)
                    | 由于用户将其用户密码告知他人或与他人共享注册帐户与密码，由此导致的任何个人信息的泄漏，或其他非因
                    span ”
                    | 一英里
                    span ”
                    | 原因导致的个人隐私信息的泄露；
                p
                    span (3)
                    | 用户自行向第三方公开其个人隐私信息；
                p
                    span (4)
                    | 用户与
                    span ”
                    | 一英里
                    span ”
                    | 及合作单位之间就用户个人隐私信息的使用公开达成约定，
                    span ”
                    | 一英里
                    span ”
                    | 因此向合作单位公开用户个人隐私信息；
                p
                    span (5)
                    | 任何由于黑客攻击、电脑病毒侵入及其他不可抗力事件导致用户个人隐私信息的泄露。
                p
                    span 5
                    | 、用户同意
                    span ”
                    | 一英里
                    span ”
                    | 可在以下事项中使用用户的个人隐私信息：
                p
                    span (1) “
                    | 一英里
                    span ”
                    | 向用户及时发送重要通知，如软件更新、本协议条款的变更；
                p
                    span (2) “
                    | 一英里
                    span ”
                    | 内部进行审计、数据分析和研究等，以改进
                    span ”
                    | 一英里
                    span ”
                    | 的产品、服务和与用户之间的沟通；
                p
                    span (3)
                    | 依本协议约定，
                    span ”
                    | 一英里
                    span ”
                    | 管理、审查用户信息及进行处理措施；
                p
                    span (4)
                    | 适用法律法规规定的其他事项。
                p
                    | 除上述事项外，如未取得用户事先同意，
                    span ”
                    | 一英里
                    span ”
                    | 不会将用户个人隐私信息使用于任何其他用途。
                p
                    span 6
                    | 、为了改善
                    span ”
                    | 一英里
                    span ”
                    | 的技术和服务，向用户提供更好的服务体验，
                    span ”
                    | 一英里
                    span ”
                    | 或可会自行收集使用或向第三方提供用户的非个人隐私信息。
                p
                    span
                        | 四.
                        span      
                    | 一英里服务
                p
                    span 1
                    | 、用户可根据本协议及一英里公布的相关使用规则，查阅在一英里平台上发布的导师信息，通过一英里平台购买经验分享服务。
                p
                    span 2
                    | 、用户在使用一英里提供的上述服务时，应遵守本协议及一英里的相关使用规则，遵守自愿、平等、公平及诚实信用原则，不利用一英里平台侵犯他人合法权益及谋取不正当利益，不扰乱网上交易的正常秩序。
                p
                    span 3
                    | 、用户可以在一英里平台发布对服务的购买体验、评价等信息，并可对其进行适当的修改、删除，但不得在一英里平台发布包含以下内容的言论：
                p
                    span (1)
                    | 反对宪法所确定的基本原则，煽动、抗拒、破坏宪法和法律、行政法规实施的；
                p
                    span (2)
                    | 煽动颠覆国家政权，推翻社会主义制度，煽动、分裂国家，破坏国家统一的；
                p
                    span (3)
                    | 损害国家荣誉和利益的；
                p
                    span (4)
                    | 煽动民族仇恨、民族歧视，破坏民族团结的；
                p
                    span (5)
                    | 任何包含对种族、性别、宗教、地域内容等歧视的；
                p
                    span (6)
                    | 捏造或者歪曲事实，散布谣言，扰乱社会秩序的；
                p
                    span (7)
                    | 宣扬封建迷信、邪教、淫秽、色情、赌博、暴力、凶杀、恐怖、教唆犯罪的；
                p
                    span (8)
                    | 公然侮辱他人或者捏造事实诽谤他人的，或者进行其他恶意攻击的；
                p
                    span (9)
                    | 损害国家机关信誉的；
                p
                    span (10)
                    | 其他违反宪法和法律行政法规的。
                p 用户在一英里平台发布的信息，均代表用户的观点，与一英里无关，用户须对其言论独立承担完全的法律责任。
                p
                    span 4
                    | 、用户在使用一英里提供的服务时，不得有下列行为：
                p
                    span (1)
                    | 利用一英里平台从事洗钱、窃取商业秘密、窃取个人信息等违法犯罪活动；
                p
                    span (2)
                    | 将有关干扰、破坏或限制任何计算机软件、硬件或通讯设备功能的软件病毒或其他计算机代码、档案和程序之资料，加以上载、发布、发送电子邮件或以其他方式传送；
                p
                    span (3)
                    | 干扰一英里平台正常运行，非法入侵一英里服务器、篡改一英里代码或其他损害一英里系统的行为；
                p
                    span (4)
                    | 企图规避一英里平台的安全设置或网络系统，包括获取用户不应获取的数据，登录未经明确授权的服务器或帐户，或采用运行端口扫描等方式窥探其他网络的安全措施；
                p
                    span (5)
                    | 以导致一英里的计算机系统或设施承受不合理负载的方式获取一英里提供的服务或网站信息，或进行可能导致此类情况出现的行为；
                p
                    span (6)
                    | 实施任何形式的网络监控，从而截取与自身无关的信息；
                p
                    span (7)
                    | 利用一英里平台从事与网上购物无关或不是以购物为目的的活动，试图扰乱正常购物秩序，谋取不正当利益的行为；
                p
                    span (8)
                    | 注册多个帐户，通过自我邀请、相互邀请或利用多个手机或邮箱注册等不正当手段获取返利、抵用券或任何经济利益；
                p
                    span (9)
                    | 大量购买服务后又大量退货或囤积牟利，损害商户或一英里利益的行为；
                p
                    span (10)
                    | 其他损害他人或一英里合法权益的行为。
                p
                    span 5
                    | 、一经发现用户提供虚假信息或有上述禁止的言论或行为的，一英里有权采取暂停提供服务、删除违法违规信息、限制用户购买、禁止用户发言、锁定用户帐户等处理措施。若因用户的上述言论或行为给他人或一英里造成损失的，用户还应承担赔偿责任。
                p
                    span 6
                    | 、若国家相关机关向一英里发出命令、指示、裁决等法律文书或第三人向一英里投诉并提供相关证据材料，要求冻结、关闭用户帐号及交易的，一英里有权对相关帐号及交易进行冻结或取消，同时对违反本协议及一英里相关服务规则的用户，一英里有权封停其帐号。一英里采取上述措施的，将通过用户注册时提交的联系信息通知用户。
                p
                    span 7
                    | 、用户应遵守本协议及一英里公示的各项服务规则的内容，若因用户违反本协议及服务规则造成损失的，用户应予以赔偿。
                p
                    span
                        | 五.
                        span     
                    | 知识产权声明
                p
                    | 本网站（
                    span www.1yingli.cn
                    | ）所有的产品、技术、程序、页面（包括但不限于页面设计及内容）以及资料内容（包括但不限于本站所刊载的图片、视频、
                    span Flash
                    | 等）均属于知识产权，仅供本网站用户交流、学习、研究和欣赏，未经授权，任何人不得擅自使用，否则，将依法追究法律责任。
                p
                    | 本网站导师在网站上传的资料内容（包括但不限于图片、视频、
                    span Flash
                    | 、点评等），应保证为原创或已得到充分授权，并具有准确性、真实性、正当性、合法性，且不含任何侵犯第三人权益的内容，因抄袭、转载、侵权等行为所产生的纠纷由导师自行解决，本网站不承担任何法律责任。
                p
                    span
                        | 六.
                        span      
                    | 责任限制
                p
                    span 1
                    | 、不论在任何情况下，一英里均不对由于互联网正常的设备维护，互联网络连接故障，电脑、通讯或其他系统的故障，电力故障，罢工，暴乱，骚乱，灾难性天气（如火灾、洪水、风暴等），爆炸，战争，政府行为，司法行政机关的命令或第三方的不作为而造成的不能履行或延迟履行承担责任。
                p
                    span 2
                    | 、如因上述不可抗力或其他一英里无法控制的原因使一英里平台的销售系统崩溃或无法正常使用导致网上交易无法完成或丢失有关的信息、记录等，一英里不承担责任。但是一英里会尽可能合理地协助处理善后事宜，并努力使客户免受经济损失。
                p
                    span 3
                    | 、基于互联网的特殊性，一英里平台显示的信息可能有一定的滞后性或差错，对此情形用户知悉并理解；您须自行辨别真伪，谨慎预防风险。
                p
                    span
                        | 七.
                        span      
                    | 法律管辖和适用
                p
                    span 1
                    | 、本协议的订立、执行和解释及争议的解决均应适用中华人民共和国大陆地区法律。
                p
                    span 2
                    | 、如发生本协议条款与上述法律相抵触时，则这些条款将完全按法律规定重新解释，而其它合法条款则依旧保持对用户产生法律效力和影响。
                p
                    span 3
                    | 、本协议的规定是可分割的，如本协议任何规定被裁定为无效或不可执行，该规定可被删除而其余条款应予以执行。
                p
                    span 4
                    | 、如双方就本协议内容或其执行发生任何争议，双方应尽力友好协商解决；协商不成时，任何一方均可向一英里平台所在地人民法院提起诉讼。
    ng-include(src="'/pages/common/footer/footer.html'")