.mobile-addServer {
  .app {
    font-size: 14px;
  }
  .g-bk {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    display: inline-block;
  }
  .m-title {
    height: 16px;
    width: 94%;
    margin: 0 auto;
    background: #fff;
    margin-top: 21px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 12px 0;
    border: 1px solid #ddd;
  }
  .u-tt-img {
    width: 20px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
    margin-top: -2px;
    margin-right: 10px;
  }
  .u-tt-name {
    width: 200px;
    height: auto;
    color: #33495f;
    display: inline-block;
  }
  .m-content {
    height: auto;
    width: 94%;
    margin: 0 auto;
    background: #fff;
    margin-top: 10px;
    margin-bottom: 120px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  .m-ct-top {
    width: 100%;
    height: 31px;
    background-color: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }
  .u-top-name {
    width: auto;
    height: 17px;
    font-size: 16px;
    color: #56bbe8;
    padding: 6px 0;
    padding-right: 6px;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
  }
  .u-top-img {
    width: auto;
    height: 14px;
    margin-top: 9px;
    display: inline-block;
  }
  .m-info-topic, .m-info-number, .m-info-time, .m-info-price, .m-info-small {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .u-name {
    width: 100px;
    height: 15px;
    font-size: 14px;
    color: #33495f;
    display: inline-block;
    vertical-align: top;
    margin-left: 5%;
    margin-right: 3%;
    padding-top: 6px;
  }
  .u-topic-input, .u-number-input, .u-Topic-input, .u-price-input, .u-small-input, .u-price-select {
    width: 40%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #141414;
    border: 1px solid #56bbe8;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 11px;
    display: inline-block;
    vertical-align: top;
  }
  .u-time-input {
    width: 53%;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    color: #141414;
    border: 1px solid #56bbe8;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 0 11px;
  }
  .u-topic-input {
    width: 53%;
  }
  .u-number-input {
    width: 50px;
  }
  .u-price-input {
    width: 58px;
  }
  .u-small-input {
    width: 58px;
  }
  .u-price-select {
    width: 58px;
    margin-left: 5px;
  }
  .u-span {
    display: inline-block;
    margin: 5px;
  }
  .u-on {
    width: 39px;
    height: 21px;
    background-color: #56bbe8;
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 7px;
  }
  .u-off {
    width: 39px;
    height: 21px;
    background-color: #e8edf0;
    color: #56bbe8;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 7px;
  }
  .u-on-f {
    width: 39px;
    height: 21px;
    background-color: #e8edf0;
    color: #56bbe8;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 7px;
  }
  .u-off-t {
    width: 39px;
    height: 21px;
    background-color: #56bbe8;
    color: #fff;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    padding-top: 7px;
  }
  .m-bottom {
    width: 220px;
    height: 30px;
    margin: 26px auto;
  }
  .u-confirm {
    width: 93px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #56bbe8;
    color: #56bbe8;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
  }
  .u-cancel {
    width: 93px;
    height: 28px;
    line-height: 28px;
    border: 1px solid #56bbe8;
    color: #fff;
    background-color: #56bbe8;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    margin-left: 30px;
  }

  @media (max-width: 370px) {
    .u-topic-input {
      width: 45%;
    }
    .u-price-input {
      width: 55px;
    }
    .u-name {
      width: 60px;
    }
  }
}