.mobile-footer
    .g-ft
        .u-about-us
            a(href="/aboutUs/") 关于我们
            a(href="/aboutUs?page=1") &nbsp;&nbsp;&nbsp;加入我们
            a(href="/aboutUs?page=2") &nbsp;&nbsp;&nbsp;联系我们
            a(href="/help") &nbsp;&nbsp;&nbsp;帮助
        .u-phone 0571-86415101
        .u-worktime 工作日：9:30-17:30(GMT+8)
    .u-record
        | ©2015 杭州千询 浙ICP备 15023254号