.mobile-help {
  .app {
    color: #33495f;
    background-color: #f6f9fa;
  }
  .g-content {
    padding: 0 14px;
  }
  .u-title {
    padding-top: 14px;
    line-height: 24px;
    font-size: 16px;
  }
  .u-content {
    line-height: 24px;
    font-size: 14px;
  }
  .m-title {
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 10px;
  }
  .m-box {
    margin-bottom: 20px;
  }
  .m-box-w {
    padding: 0 10px;
    padding-bottom: 10px;
    background-color: #e8edf0;
    margin-bottom: 20px;
    border-radius: 4px;
  }
  .u-title-w {
    font-size: 16px;
    color: #56bbe8;
    padding-top: 14px;
  }
  .u-question {
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
  }
  .u-img {
    width: 100%;
  }
}