.mobile-help
    ng-include(src="'/pages/common/header/mobile/sidebars.html'")
    ng-include(src="'/pages/common/header/mobile/header.html'")
    .app
        .g-content
            .m-box
                .u-title(ng-click="scroll('#a1')") 一. 关于一英里
                a.u-content(ng-click="scroll('#a1-1')") 1.一英里介绍</br>
                a.u-content(ng-click="scroll('#a1-2')") 2.什么是一对一经验分享？</br>
                a.u-content(ng-click="scroll('#a1-3')") 3.使用流程是怎样的？</br>
                a.u-content(ng-click="scroll('#a1-4')") 4.导师是怎样的人？</br>
                a.u-content(ng-click="scroll('#a1-5')") 5.一英里会抽取手续费吗？
                .u-title(ng-click="scroll('#a2')") 二. 学员约见指南
                a.u-content(ng-click="scroll('#a2-1')") 1.如何找到并预约心仪的导师？</br>
                a.u-content(ng-click="scroll('#a2-2')") 2.是否可以取消预约？</br>
                a.u-content(ng-click="scroll('#a2-3')") 3.导师会拒绝我的预约吗？</br>
                a.u-content(ng-click="scroll('#a2-4')") 4.我可以更改交谈的时间吗?
                .u-title(ng-click="scroll('#a3')") 三. 导师服务指南
                a.u-content(ng-click="scroll('#a3-1')") 1.我可以更改自己主页的内容吗？</br>
                a.u-content(ng-click="scroll('#a3-2')") 2.学员下单后我必须接受吗？</br>
                a.u-content(ng-click="scroll('#a3-3')") 3.有没有规定每周至少咨询的次数？</br>
                a.u-content(ng-click="scroll('#a3-4')") 4.如果这周很忙，可能没有时间提供咨询，怎么办？</br>
                a.u-content(ng-click="scroll('#a3-5')") 5.支付的流程是怎样的？</br>
                a.u-content(ng-click="scroll('#a3-6')") 6.每次交谈服务的时间是固定的吗？</br>
                a.u-content(ng-click="scroll('#a3-7')") 7.怎么样才能成为导师呢？
                .u-title(ng-click="scroll('#a4')") 四. 一英里导师全球里程累积计划
                a.u-content(ng-click="scroll('#a4-1')") 1.概念</br>
                a.u-content(ng-click="scroll('#a4-2')") 2.订单筛选条件</br>
                a.u-content(ng-click="scroll('#a4-3')") 3.咨询时间对应英里数值</br>
                a.u-content(ng-click="scroll('#a4-4')") 4.订单数量对应英里数值</br>
                a.u-content(ng-click="scroll('#a4-5')") 5.学员评价数量对应英里数值</br>
                a.u-content(ng-click="scroll('#a4-6')") 6.累积英里数计算方式</br>
                a.u-content(ng-click="scroll('#a4-7')") 7.附则</br>
                a.u-content(ng-click="scroll('#a4-8')") 8.兑换方式
                .u-title(ng-click="scroll('#a5')") 五. 特别声明
            .m-box-w
                .u-title-w#a1 一. 关于一英里
                .u-question#a1-1 1.一英里介绍
                .u-content 一英里是一对一经验分享平台，旨在为“有经验愿分享”的导师和“有困惑求指点”的学员搭建一个彼此沟通的平台。让导师的经验、时间发挥最大的价值，让学员的问题、困惑得到最快的解决。
                .u-question#a1-2 2.什么是一对一经验分享？
                .u-content 「分享」</br>
                    | 导师可以利用自己的碎片化时间，分享自己的经历、经验、技能，获取相应的报酬。</br>
                    | 「取经」</br>
                    | 面对困难与未知，学员可以在平台上，找到各领域的，将他们的智慧与经验化为己有。
                .u-question#a1-3 3.使用流程是怎样的？
                .u-content  第一步：学员预约导师并付费；
                    | 第二步：导师确认预约；
                    | 第三步：导师与学员确认时间；
                    | 第四步：进行交谈服务；
                    | 第五步：确认服务完成；
                    | 第六步：一英里将费用转给导师。
                .u-question#a1-4 4.导师是怎样的人？
                .u-content  一英里导师来自国内外各大高校，或是对海外求学、选校申请有着自己独特见解，或是在乐器、健身等有着自己的过人之处，有着分享的激情和良好的沟通能力，坚信授人以鱼不如授人以渔。
                    | 一英里导师已通过手机、邮箱、学位、工作、实名认证，确保信息真实准确。
                .u-question#a1-5 5.一英里会抽取手续费吗？
                .u-content 不会。一英里会将学员支付的费用悉数转给导师，不会从中收取任何费用。
                .u-title-w#a2 二. 学员约见指南
                .u-question#a2-1 1.如何找到并预约心仪的导师？
                .u-content  第一步：注册</br>
                    | 学员登陆一英里网站（www.1yingli.cn），填写自己资料并完成手机或邮箱验证；</br>
                    | 第二步：提交预约申请</br>
                    | 在找到合适的导师之后，学员可以点击“预约TA”，并填写个人信息和想要请教的问题，发起预约申请；</br>
                    | 第三步：支付费用</br>
                    | 提交预约申请后，学员可用支付宝或Paypal支付费用；</br>
                    | 第四步：等待导师确认</br>
                    | 学员完成支付后，导师会收到预约提醒，导师将在24小时内答复是否接受预约；</br>
                    | 第五步：确定预约时间</br>
                    | 导师确认接受预约后，会与学员联系并确认服务时间；</br>
                    | 第六步：确认服务完毕并评价</br>
                    | 交谈服务完成后，学员到网站上确认服务完毕，并做出评价；若学员未确认，费用将五个工作日内打给导师。
                .u-question#a2-2 2.是否可以取消预约？
                .u-content 在服务进行之前，学员均可取消预约；若导师确认接受预约后，则学员取消预约须导师同意。</br>
                    | 若学员在支付后取消预约，可获得全额退款。
                .u-question#a2-3 3.导师会拒绝我的预约吗？
                .u-content 导师可以选择拒绝学员的预约。</br>
                    | 导师可以根据学员提供的信息判断自己是否有时间、有能力、有精力解答学员的疑惑，导师可以选择是否接受预约。
                .u-question#a2-4 4.我可以更改交谈的时间吗?
                .u-content 跟导师协商后，学员可以更改交谈的时间，只需在交谈服务完成后登陆确认完成服务即可。
                .u-title-w#a3 三. 导师服务指南
                .u-question#a3-1 1.我可以更改自己主页的内容吗？
                .u-content 可以。导师可以登陆一英里网站（www.1yingli.cn），更改主页的话题、个人信息、交谈价格以及发布文章。</br>
                    | 导师可以根据自己擅长的领域和个人的偏好设置主页的话题，更改后一英里会进行审核。</br>
                    | 导师可以根据自己的能提供的信息和服务的内容对自己的服务进行定价，大多数导师将自己的价格定在100-200元/小时，建议初期导师可以将价格定在此区间。</br>
                    | 导师可以在个人主页发布自己心得体会、经验分享等文章，通过一英里审核后，即可出现在个人主页。
                .u-question#a3-2 2.学员下单后我必须接受吗？
                .u-content 导师有选择学员的权力，可以在看了学员提出的问题和个人介绍后，导师可以选择见面或者不见面。
                .u-question#a3-3 3.有没有规定每周至少咨询的次数？
                .u-content 完全没有，一英里尊重导师的时间安排，不会去强迫导师提供咨询的次数。
                .u-question#a3-4 4.如果这周很忙，可能没有时间提供咨询，怎么办？
                .u-content 导师可以设置本周可咨询的次数，当次数修改成0次的时候，学员无法发起预约申请。
                .u-question#a3-5 5.支付的流程是怎样的？
                .u-content 在学员确认完成服务的五个工作日内，我们会将费用打入绑定的账户内。
                .u-question#a3-6 6.每次交谈服务的时间是固定的吗？
                .u-content 导师可以自由设置自己提供服务的时间，0.5小时、1小时等都可以，可以根据分享的内容进行选择。
                .u-question#a3-7 7.怎么样才能成为导师呢？
                .u-content 点击首页“成为导师”填写自己的姓名、手机、地址、邮箱、个人履历、基本资料等信息；我们会在收到申请后立刻联系你。
                .u-title#a4 四. 一英里导师全球里程累积计划
                .u-question#a4-1 1.概念
                .u-content <b>累积英里数</b>：导师通过完成订单累积的英里数值，依完成订单、机票兑换情况增加或减少。</br><b>订单</b>：一英里平台上学员预约导师进行咨询产生的订单，状态包括未支付、放弃支付、咨询完毕、学员退款等。
                .u-question#a4-2 2.订单筛选条件
                .u-content 有效订单：</br>&nbsp;&nbsp;&nbsp;&nbsp;i.按原交易价格（学员实付金额等于平台支付导师金额）完成咨询的订单；</br>&nbsp;&nbsp;&nbsp;&nbsp;ii.学员使用优惠券时学员实付金额小于平台支付导师金额的订单。
                    | </br>无效订单：</br>&nbsp;&nbsp;&nbsp;&nbsp;i.开展优惠活动（平台人为调整价格）时学员实付金额小于平台支付导师金额的订单。
                .u-question#a4-3 3.咨询时间对应英里数值
                .u-content 每完成半小时咨询，累积5英里；完成一小时咨询，累积10英里，以此类推，可以累积。
                .u-question#a4-4 4.订单数量对应英里数值
                img.u-img(src="http://image.1yingli.cn/img/new/textImgApp.jpg")
                .u-question#a4-5 5.学员评价数量对应英里数值
                .u-content 学员每产生一条评价，导师可累积2英里，以此类推。
                .u-question#a4-6 6.累积英里数计算方式
                .u-content 累积英里数= 按时间累积英里数+ 按订单数量奖励英里数+ 学员评价累积英里数
                .u-question#a4-7 7.附则
                .u-content i.累积英里数从完成第一笔订单起算，不同月份、年份可以累积，不会清零。</br>
                    | ii.若同一学员预约导师次数大于一次，不可累计计算，算作一笔订单。</br>
                    | iii.有效订单的状态须为咨询完毕学员满意并评价，未支付、放弃支付、学员退款等订单不计算入内。
                .u-question#a4-8 8.兑换方式
                .u-content i.导师可用“累积英里数”兑换同距离的机票，兑换后，导师的“累积英里数”扣除机票里程数。</br>ii.机票里程数以航空公司公布信息为准。
                .u-title#a5 五. 特别声明：
                .u-content#a5-1 一英里导师与学员之间的交谈服务仅为导师个人经验、知识的分享及建议，导师对此不承担法律责任。导师与一英里间非雇佣或委托关系，导师交谈内容不代表一英里立场。


        ng-include(src="'/pages/common/footer/mobile/footer.html'")