.mobile-myStudent{
  .app {
    font-size: 14px;
  }
  .g-bk {
    width: 100%;
    height: auto;
    background-color: #f8f8f8;
    display: inline-block;
    min-height: 400px;
  }
  @media (min-height: 569px) {
    .g-bk {
      min-height: 530px;
    }
  }
  .g-title {
    height: 16px;
    width: 94%;
    margin: 0 auto;
    background: #fff;
    margin-top: 21px;
    margin-bottom: 15px;
    border-radius: 4px;
    padding: 12px 0;
    border:1px solid #ddd;
  }
  .u-tt-img {
    width: 20px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-left: 17px;
    margin-top: -2px;
    margin-right: 10px;
  }
  .u-tt-name {
    width: 200px;
    height: auto;
    color: #33495f;
    display: inline-block;
  }
  .m-content{
    height: auto;
    width: 94%;
    margin: 0 auto;
    background: #fff;
    margin-top: 10px;
  }
  .m-content-box{
    width: 100%;
    height: auto;
    margin-top: 7px;
    border: 1px solid #ddd;
    color: #33495f;
    border-radius: 4px;
    position: relative;
  }
  .m-empty {
    width: 100%;
    height: 300px;
    background: url("http://image.1yingli.cn/img/new/empty-service.png") no-repeat 50% 50%;
    background-size: contain;
  }
  .m-box-top{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #f8f9fa;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #666666;
    .u-top-number{
      width: auto;
        font-size: 12px;
      float: left;
      margin-left: 10px;
    }
    .u-top-time{
      width: auto;
      font-size: 12px;
      float: right;
      margin-right: 10px;
    }
  }
  .m-box-ct{
    width: 100%;
    height: 37px;
    display: inline-block;
    vertical-align: top;
    .u-ct-img{
      width: 26px;
      height: 26px;
      border-radius: 50%;
      margin: 8px 10px 0;
      display: inline-block;
      vertical-align: top;
    }
    .u-ct-name{
      font-size: 14px;
      line-height: 37px;
    }
  }
  .m-ct-info{
    width: 100%;
    height: 143px;
    background: #f8f9fa;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
    box-sizing: border-box;
    position: relative;
    .u-ct-order{
      color: #666666;
      height: 30px;
      line-height: 30px;
      border-bottom: 1px solid #eee;
      font-size: 12px;
      text-indent: 10px;
    }
    .u-cs-img{
      width: 69px;
      height: 51px;
      margin: 8px 6px 8px 10px;
    }
    .m-box-number{
      position: absolute;
      top: 55px;
      right: 10px;
      font-size: 12px;
    }
    .u-ct-state{
      font-size: 12px;
      color: #56bbe8;
      position: absolute;
      top: 78px;
      right: 10px;
    }
    .m-box-price{
      height: auto;
      display: inline-block;
      vertical-align: top;
      text-align: right;
      padding-right: 10px;
      font-size: 12px;
      color: #33495f;
      float: right;
      margin-top: 9px;
    }
    .u-ct-topic{
      text-indent: 0px;
      position: absolute;
      line-height: 14px;
      top: 39px;
      left: 85px;
      font-size: 12px;
      width: 45%;
    }
    .u-ct-tag{
      height: 18px;
      line-height: 16px;
      box-sizing: border-box;
      width: 18px;
      text-align: center;
      border: 1px solid #56bbe8;
      background: #FFFFFF;
      color: #56bbe8;
      position: absolute;
      top: 72px;
    }
  }
  .m-box-bottom{
    width: 100%;
    height: 42px;
    border-top: 1px solid #eee;
    position: relative;
    .g-state {
      position: absolute;
      height: 200px;
      width: 100%;
      background: white;
      z-index: 2;
      top: -90px;
      border-radius: 4px;
      border: solid 1px #ddd;
      color: #33495f;
      .m-title {
        margin: 20px 7% 0;
        line-height: 20px;
        text-align: center;
        font-size: 16px;
        padding-bottom: 37px;
        border-bottom: dotted 1px #33495f;
      }
      .m-states {
        position: absolute;
        width: 100%;
        left: 0;
        top: 30px;
        height: 90px;
        .u-state {
          display: inline-block;
          width: 20%;
          height: 100%;
          position: relative;
          .u-triangle {
            position: absolute;
            left: 50%;
            margin-left: -15px;
            top: 32px;
            .u-triangle-top {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 0 15px 15px 15px;
              border-color: transparent transparent #ddd transparent;
            }
            .u-triangle-bottom {
              width: 0;
              height: 0;
              border-style: solid;
              border-width: 15px 15px 0 15px;
              border-color: #ddd transparent transparent transparent;
            }
            .u-number {
              position: absolute;
              top: 8px;
              left: 11px;
              color: white;
            }
          }
          .active1 {
            .u-triangle-top {
              border-color: transparent transparent #56bbe8 transparent;
            }
            .u-triangle-bottom {
              border-color: #56bbe8 transparent transparent transparent;
            }
          }
          .active2 {
            .u-triangle-top {
              border-color: transparent transparent #99ccff transparent;
            }
            .u-triangle-bottom {
              border-color: #99ccff transparent transparent transparent;
            }
          }
          .active3 {
            .u-triangle-top {
              border-color: transparent transparent #66cccc transparent;
            }
            .u-triangle-bottom {
              border-color: #66cccc transparent transparent transparent;
            }
          }
          .active4 {
            .u-triangle-top {
              border-color: transparent transparent #006699 transparent;
            }
            .u-triangle-bottom {
              border-color: #006699 transparent transparent transparent;
            }
          }
          .active5 {
            .u-triangle-top {
              border-color: transparent transparent #0099cc transparent;
            }
            .u-triangle-bottom {
              border-color: #0099cc transparent transparent transparent;
            }
          }
          .u-title {
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: #ccc;
          }
        }
      }
      .m-bottom {
        position: absolute;
        bottom: 0;
        height: 40px;
        line-height: 40px;
        width: 100%;
        border-top: 1px #ddd solid;
        .u-button {
          border-right: 1px #ddd solid;
          height: 100%;
          text-align: center;
          font-size: 16px;
          display: inline-block;
          box-sizing: border-box;
        }
        .u-button:last-of-type {
          border: none;
        }
        .d-1-1 {
          width: 100%;
        }
        .d-2-1 {
          width: 50%;
        }
        .d-3-1 {
          width: 33.3%;
        }
        .u-input {
          position: absolute;
          width: 70%;
          top: -40px;
          left: 15%;
          input {
            width: 100%;
            height: 20px;
            line-height: 20px;
            border: 1px solid #ddd;
            box-sizing: border-box;
            padding: 0 5px;
            border-radius: 3px;
          }
          .bootStrap {
             width: 140%;
             margin-left: -17%;
             margin-top: 6px;
            .dropdown-menu {
              margin-left: -10px;
            }
           }
        }
      }
    }
    .g-comment {
      position: absolute;
      height: 200px;
      width: 100%;
      background: white;
      z-index: 2;
      top: -90px;
      border-radius: 4px;
      border: solid 1px #ddd;
      color: #33495f;
      .u-title {
        font-size: 16px;
        margin-top: 20px;
        text-align: center;
      }
      .m-text-area {
        height: 130px;
        width: 100%;
        box-sizing: border-box;
        padding: 10px 20px;
        .u-textarea {
          padding: 5px;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          overflow: auto;
          font-size: 14px;
        }
      }
      .m-star {
        position: absolute;
        bottom: 10px;
        left: 20px;
        .u-star {
          height: 20px;
          width: 20px;
        }
      }
      .m-confirm {
        position: absolute;
        bottom: 8px;
        right: 20px;
        padding: 5px 20px;
        color: #66ccff;
        background: white;
        border: 1px solid #66ccff;
        cursor: pointer;
        font-size: 15px;
      }
    }
  }
  .m-box-total{
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
    padding-right: 10px;
    color: #56bbe8;
    font-size: 14px;
    text-align: right;
    span{
      margin-right: 10px;
    }
  }
  .u-confirm{
    width: 84px;
    height: 29px;
    line-height: 27px;
    border: 1px solid #56bbe8;
    color: #56bbe8;
    border-radius: 4px;
    float: right;
    margin-right: 8px;
    text-align: center;
    margin-top: 5px;
    box-sizing: border-box;
  }
  .u-details{
    width: 84px;
    height: 29px;
    line-height: 27px;
    box-sizing: border-box;
    border: 1px solid #56bbe8;
    border-radius: 4px;
    color: #56bbe8;
    float: right;
    margin-right: 10px;
    text-align: center;
    margin-top: 5px;
  }
  .g-mask {
    position: fixed;
    top: 0;
    left: 0;
    bottom: -20px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
  }
}