.pc-footer
    .g-ft
        .g-box
            .m-wx
                img.u-qrcode(src="http://image.1yingli.cn/img/WeChat_1440487276.jpeg")
                .u-tittle 微信公众账号
            .m-contact
                .u-aboutus
                    a(href="/help")
                        .u-hover 帮助
                    a(href="/aboutUs?page=2")
                        .u-hover 联系我们 &nbsp;&nbsp;&nbsp;
                    a(href="/aboutUs?page=1")
                        .u-hover 加入我们 &nbsp;&nbsp;&nbsp;
                    a(href="/aboutUs/")
                        .u-hover 关于我们 &nbsp;&nbsp;&nbsp;
                .u-phone 0571-86415101
                .u-worktime 工作日：9:30-17:30 (GMT+8)
                .u-email 客服邮箱：contact@1yingli.cn
                a.u-conpany(href="http://www.miitbeian.gov.cn/") ©2015 杭州千询科技 浙ICP备15023254号