.pc-account
    .hd
        ng-include(src="'/pages/common/header/header.html'")
    .g-header
        ng-include(src="'/pages/personalCenter/personalHeader/personalHeader.html'")
    .g-center
        .u-title-img
        .u-shadow
        .m-center-tel
            .m-left
                .m-img
                    img(src="http://image.1yingli.cn/img/new/at-tel.png").u-tel-img
                .u-title-name 绑定手机
            .m-tel-right
                input.u-input1-phone(ng-model="phone" placeholder="请填写手机号码")
                .m-select(ng-mouseleave="isShowCountry=false;")
                    .u-select(ng-click="isShowCountry = !isShowCountry;")
                        img.select-country(ng-src="{{country.flag}}")
                        label#phoneCode {{country.code}}
                        img.select-sub(src="http://image.1yingli.cn/img/new/select-arrow1.png")
                        span
                    ul.u-select-ul(ng-show="isShowCountry" )
                        li.u-select-li(ng-click="selectCountry($index);" ng-repeat="country in countrys")
                            img.select-country(ng-src="{{country.flag}}")
                            label {{country.code}}
                .u-tel-time(ng-click="getPhoneValidateCode();") {{codeString}}
                input.u-input2(placeholder="请输入手机验证码" ng-model="pCheckNo")
                .u-tel-confirm(ng-click="phoneSub()") 提交
        .m-center-email
            .m-left
                .m-img
                    img(src="http://image.1yingli.cn/img/new/at-email.png").u-tel-img
                .u-title-name 绑定邮箱
            .m-email-right
                input.u-input1(ng-model="email" placeholder="请填写邮箱")
                .u-email-time(ng-click="getEmailValidateCode()") {{codeStringEmail}}
                input.u-input2(placeholder="请输入邮箱验证码" ng-model="eCheckNo")
                .u-email-confirm(ng-click="emailSub()") 提交
        .m-center-password
            .m-left.m-left-pw
                .m-img.m-img-pw
                    img(src="http://image.1yingli.cn/img/new/at-pas.png").u-tel-img
                .u-title-name 重置密码
            .m-password-right
                input.u-password-input1(placeholder="请输入当前密码" ng-model="oldPass" type="password" ng-change="isVaOldPass = true")
                .errMessage(ng-show="!isVaOldPass") 必须填写
                input.u-password-input2(placeholder="请输入新密码" ng-model="newPass" type="password" ng-change="isVaPass = true")
                .errMessage(ng-show="!isVaPass") 不能全为数字且6~20个字符
                input.u-password-input2(placeholder="请输入新密码" ng-model="reNewPass" type="password" ng-change="isVaRePass = true")
                .errMessage(ng-show="!isVaRePass") 不能全为数字且6~20个字符
                .m-center-confirm(ng-click="modifyPass()") 提交
    ng-include(src="'/pages/common/footer/footer.html'")